header {
  /* height: 200px; */
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
}

header img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.5;
  z-index: 0;
}

header h1 {
  font-size: 5rem;
  position: relative;
  color: var(--neon);
  padding: 0px 0px 7px 0px;
  border: 3px;
  border-style: solid;
  border-radius: 20px;
  box-shadow: inset 0px 0px 8px rgba(1, 255, 234, 1),
    0px 0px 15px rgba(1, 255, 234, 1);
  background-color: rgba(112, 0, 146, 0.45);
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 500px;
}

header Nav {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header Nav li {
  display: flex;
  justify-content: center;
  width: 150px;
}

/* tablet screen changes */
@media screen and (min-width: 768px) {
  header Nav {
    display: flex;
    flex-direction: row;
  }

  .headerBox{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

/* large screen changes */
@media screen and (min-width: 992px) {

}

