/* global styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* root colors */
:root {
  --pink: #ff8dff;
  --purple: #a55cf8;
  --yellow: #f8f544;
  --green: #5dff5d;
  --blue: #cdd4ff;
  --darkblue: #2929dd;
  --neon: #01ffea;
  --white: #fff;
  --black: #000;
}
/* sizing the page */
html,
body {
  min-height: 100%;
}
/* styles for everything on out page, like a global style again */
.wrapper {
  background-color: var(--pink);
  color: var(--darkblue);
  font-family: "Quicksand", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.5;
}
/* sizing for center of page displaying the components */
main {
  min-height: 100vh;
}
/* removing predetermined styles from links */
a {
  text-decoration: none;
}
/* removing predetermined styles from list items */
li {
  list-style: none;
}
/* font for headers */
h1,
h2,
h3 {
  font-family: "Sacramento", cursive;
}


