/* styling the letters of the nav links */
nav {
  font-size: 2rem;
}
/* styling links themselves */
nav li {
  text-decoration: none;
  color: var(--yellow);
  /* opacity: 0.6; */
  font-family: "Quicksand", sans-serif;
  cursor: pointer;
  margin: 5px;
  border: 3px;
  border-style: solid;
  border-radius: 10px;
  background-color: rgba(17, 0, 255, 0.4);
}
/* style on hover */
nav li:hover {
  color: var(--white);
  opacity: 1;
}
/* style when active, green showed up best on header background on all sizes */
.active {
  color: var(--blue);
  opacity: 1;
}
